<div class="d-flex justify-content-center mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group mb-2" style="width: 400px">
      <label for="name">Nom de la plante :</label>
      <input
        type="text"
        class="form-control mt-2"
        id="name"
        formControlName="name"
      />
      <div
      class="alert alert-danger"
      *ngIf="form.controls['name'].invalid && form.controls['name'].touched && form.controls['name'].errors?.['required'] "
    >
      Champs requis
    </div> 
     <div
      class="alert alert-danger"
      *ngIf="form.controls['name'].invalid && form.controls['name'].touched && form.controls['name'].errors?.['required'] ">
      Une plante valide comporte un nom
    </div> 
    </div>

    <div class="form-group mb-2">
      <label for="category">Catégorie :</label>
      <select class="form-select mt-2" id="category" formControlName="category">
        <option *ngFor="let cat of categorie | keyvalue" [value]="cat.value">
          {{ cat.value }}
        </option>
      </select>
      <div
      class="alert alert-danger"
      *ngIf="form.controls['category'].invalid && form.controls['category'].touched && form.controls['category'].errors?.['required'] "
    >
      Champs requis
    </div> 
     <div
      class="alert alert-danger"
      *ngIf="form.controls['category'].invalid && form.controls['category'].touched && form.controls['category'].errors?.['required'] ">
      Une plante valide comporte une catégorie.
    </div> 
    </div>

    <div class="form-group mb-2">
      <label for="price">Prix de la plante :</label>
      <input
        type="number"
        class="form-control mt-2"
        id="price"
        formControlName="price"
      />
      <div
        class="alert alert-danger"
        *ngIf="form.controls['price'].invalid && form.controls['price'].touched && form.controls['price'].errors?.['required'] ">
        Champs requis
      </div> 
       <div
        class="alert alert-danger"
        *ngIf="form.controls['price'].invalid && form.controls['price'].touched && form.controls['price'].errors?.['required'] ">
        Une plante valide comporte un prix
      </div> 
    </div>

    <div class="form-group mb-2">
      <label for="quantity">Quantité :</label>
      <input
        type="number"
        class="form-control mt-2"
        id="quantity"
        formControlName="quantity"
      />
      <div
      class="alert alert-danger"
      *ngIf="form.controls['quantity'].invalid && form.controls['quantity'].touched && form.controls['quantity'].errors?.['required'] ">
      Champs requis
    </div> 
     <div
      class="alert alert-danger"
      *ngIf="form.controls['quantity'].invalid && form.controls['quantity'].touched && form.controls['quantity'].errors?.['required'] ">
      Une plante valide comporte une quantité
    </div> 
    </div>

    <div class="form-group mb-2">
      <label for="urlPicture">Url :</label>
      <input
        type="text"
        class="form-control mt-2"
        id="urlPicture"
        formControlName="urlPicture"
      />
    </div>

    <div class="form-check mb-5 d-flex flex-column p-0">
      <label for="inStock">En stock :</label>
      <input
        type="checkbox"
        class="form-check-input ms-1 mt-2"
        id="inStock"
        formControlName="inStock"
      />
      
    </div>

    <div class="btn d-flex justify-content-center mb-5">
      <button
        type="submit"
        class="btn btn-primary ps-5 pe-5"
        style="background-color: #16a14b"
        [disabled]="form.invalid"
      >
        Valider
      </button>
    </div>
  </form>
</div>
