<div id="table-container" *ngIf="collection">
  <button id="btn-add" class="btn btn-primary" (click)="onAddPage()">Ajouter une plante</button>
  <app-table [headers]="headers">
    <tr *ngFor="let plant of collection">
      <td>
        <img src="{{ plant.urlPicture }}" style="width: 50px" />
      </td>
      <td>{{ plant.name }}</td>
      <td>{{ plant.price }}</td>
      <td>{{ plant.quantity }}</td>
      <td>{{ plant.inStock }}</td>
      <td>{{ plant.category }}</td>
      <td>{{ plant.rating }}</td>
      <td>
        <button class="btn btn-success" [routerLink]="['edit', plant.id]">Modifier</button>
        <button class="btn btn-danger" (click)="onClickDelete(plant)">Supprimer</button>
      </td>
    </tr>
  </app-table>
  <div
    style="margin: 0 auto; width: 400px"
    class="d-flex justify-content-center"
  >
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{'page-item disabled' : actualOffset === 0}" (click)="setPreviousPage()"><span class="page-link" (click)="onNavidationChange(actualOffset - 30)">Précédent</span></li>
        <li class="page-item" [ngClass]="{'page-item active' : currentPage === index + 1}" (click)="setCurrentPage(index)" *ngFor="let page of pageTotalNumber; let index = index;"><span class="page-link" (click)="onNavidationChange(index * 30)">{{ index + 1 }}</span></li>
        <li class="page-item" [ngClass]="{'page-item disabled' : actualOffset === 270}" (click)="setNextPage()"><span class="page-link" (click)="onNavidationChange(actualOffset + 30)">Suivant</span></li>
      </ul>
    </nav>
  </div>
</div>
